<div class="container">
  <div class="row">
      <div class="col-12 text-center">
          <div class="h2">Listado de Usuarios</div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Tipo de sangre</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of listaUsuarios">
                  <th scope="row">{{c.id}}</th>
                  <td>{{ c.nombre }} </td>
                  <td>{{ c.edad}}</td>
                  <td>{{ c.sangre}}</td>
                  <td><a [routerLink]="['/usuarios/detalle', c.id]" class="btn btn-success">Detalle</a></td>
                  <td><a [routerLink]="['/usuarios/editar', c.id]" class="btn btn-primary">Editar</a></td>
                  <td><button (click)="eliminar(c.id)" class="btn btn-xs btn-danger">Eliminar</button></td>
                </tr>
              </tbody>
            </table>
      </div>
</div>
